/* Reset de estilos básicos */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, p {
    margin: 20px;
}

a{
    text-decoration: none;
}

/* Estilo do cabeçalho */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin: 0;
}

header h1 {
    font-size: 2rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Estilo das seções de cursos */
section {
    padding: 20px;
}

section h2 {
    font-size: 1.5rem;
}

/* Rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
